* {
  padding-bottom: 10px;
}

.UserInfo {
  padding-top: 60px;
  width: 400px;
}

h2 {
  margin-bottom: 20px;
}

th {
  text-align: left;
  padding-right: 30px;
}

td {
  text-align: right
}

.userinfo-hyperlink {
  color: #CAE4F1
}

.contact-me {
  padding-bottom: 20px;
  color: gray;
  margin: 0
}

.user-info-block {
  display: flex;
  justify-content: space-between;
}

.contact-me-column {
  display: flex;
  flex-direction: column;
}

.row-title {
  font-weight: bold;
}

.contact-me-info {
  text-align: right;
}